body {
  font-family: Arial, sans-serif;
  background: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  background: white;
  padding: 40px;
  border-bottom-right-radius: 100px;
  width: 400px;
}

.inputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inputs div {
  text-align: left;

}

input{
}
label {
  font-size: 12px;
  color: gray;
}

input {
  width: 80px;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 18px;

}

button {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #9655ff;
  color: white;
  font-size: 22px;
  border: none;
  cursor: pointer;
}

.result p {
  font-size: 40px;
  margin: 0;
  font-weight: bold;

}

.result p span{
  text-decoration: underline;

}

.number {
  color: #9655ff;
}
@media (max-width:1440px) {

    body{

    }
    
    .container{
        width: 400px;
    }
}

@media (max-width:600px) {

    body{
background-color: beige;
    }
    
    .container{
        width: 400px;
    }
}